.footer {
  background: var(--primary-color);
  color: var(--border-color-light);
  padding: 3rem 1rem 1rem;
  margin-top: 3rem;
}

.footerContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  max-width: 1400px;
  margin: 0 auto;
}

.footerBrand h2 {
  font-size: 1.5rem;
  color: var(--icon-color-1);
}

.footerBrand p {
  margin-top: 0.5rem;
  font-size: 0.95rem;
  color: #bbb;
}

.footerLinks h3,
.footerServices h3,
.footerContact h3 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: var(--background-color);
}

.footerLinks ul,
.footerServices ul {
  list-style: none;
  padding: 0;
}

.footerLinks li,
.footerServices li {
  margin-bottom: 0.5rem;
}

.footerLinks a,
.footerServices a {
  text-decoration: none;
  color: var(--background-color2);
  transition: color 0.3s;
}

.footerLinks a:hover,
.footerServices a:hover {
  color: var(--icon-color-1);
}

.footerContact p {
  font-size: 0.9rem;
  color: var(--background-color2);
  margin: 0.3rem 0;
}

.socialIcons a {
  margin-right: 10px;
  font-size: 1.3rem;
  color: var(--icon-color-1);
  transition: 0.3s;
}

.socialIcons a:hover {
  color: var(--background-color);
}

.footerBottom {
  text-align: center;
  border-top: 1px solid var(--text-primary);
  margin-top: 2rem;
  padding-top: 1rem;
  font-size: 0.9rem;
  color: var(--background-color2);
}
