.navigation {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color-light);
  padding: 0 1.5rem;
  box-sizing: border-box;
  position: relative;
}

.brandLink {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

.brandLink:active {
  color: var(--accent-color);
}

.brand {
  font-size: 20px;
  font-weight: bold;
}

.navLinks {
  display: flex;
  gap: 2rem;
}

.navLinkEle {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
  padding-bottom: 5px; /* Add padding to make space for the border */
  border-bottom: 3px solid transparent; /* Transparent border by default */
  display: flex;
  align-items: center;
  -webkit-tap-highlight-color: transparent; /* Remove tap highlight */
}

.icon {
  margin-right: 8px;
}

.navLinkEle:hover {
  color: var(--link-hover-color);
}

.navLinkEle.active {
  border-bottom: 3px solid var(--accent-color);
  color: var(--accent-color);
}

.logoutButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: var(--primary-color);
  border-radius: 5px;
}

@media (max-width: 768px) {

  .navigation{
    height: 60px;
    padding: 0 1rem;
    z-index: 100;
    position: relative;
  }

  .brand {
    font-size: 15px;
  }

  .navLinks {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--background-color);
    flex-direction: column;
    width: 200px;
    padding: 1rem;
    border-left: 1px solid var(--border-color-light);
    border-bottom: 1px solid var(--border-color-light);
    display: none;
    z-index: 99;
    box-shadow: -2px 2px 5px var(--box-shadow-light);
    align-items: center; /* Center items horizontally */
  }

  .navLinksActive {
    display: flex;
  }

  .navLinkEle {
    font-size: 16px;
    padding: 10px 0;
    width: 100%; /* Make links take full width */
    justify-content: center; /* Center text and icon */
  }

  .navLinkEle.active {
    border-bottom: 3px solid var(--accent-color);
    width: fit-content;
  }

  .hamburger {
    display: flex;
  }
}
