.navigation {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color-light);
  padding: 0 1.5rem;
  box-sizing: border-box;
  position: relative;
}

.brand {
  font-size: 20px;
  font-weight: bold;
}

.navLinks {
  display: flex;
  gap: 2rem;
}

.navLinkEle {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLinkEle:hover {
  color: var(--link-hover-color);
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: var(--primary-color);
  border-radius: 5px;
}

@media (max-width: 768px) {

  .navigation{
    height: 70px;
    padding: 0 1rem;
    z-index: 100;
    position: relative;
  }

  .brand {
    font-size: 15px;
  }

  .navLinks {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--background-color);
    flex-direction: column;
    width: 200px;
    padding: 1rem;
    border-left: 1px solid var(--border-color-light);
    border-bottom: 1px solid var(--border-color-light);
    display: none;
    z-index: 99;
    box-shadow: -2px 2px 5px var(--box-shadow-light);
  }

  .navLinksActive {
    display: flex;
  }

  .navLinkEle {
    font-size: 16px;
    padding: 10px 0;
  }

  .hamburger {
    display: flex;
  }
}
