.heroSection {
    min-height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    box-sizing: border-box;
    gap: 2rem;
    flex-wrap: wrap;
}

.HeroTextDiv {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem 2rem;
}

.H1 {
    margin: 0 0 10px 0;
    line-height: 1.1;
    font-size: clamp(2rem, 6vw, 5rem);
    font-weight: bold;
    color: var(--primary-color);
}

.highlight,
.h1 {
    color: var(--accent-color);
}

.description {
    margin-top: 1rem;
    font-size: clamp(0.8rem, 2.5vw, 1.7rem);
    color: var(--secondary-color);
    max-width: 600px;
}

.heroButtonContainer {
    flex: 1 1 300px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
}

.heroButton {
    width: 100%;
    max-width: 280px;
    min-height: 40px;
    background-color: var(--accent-color);
    color: var(--background-color);
    border: none;
    border-radius: 8px;
    padding: 0.8rem 1.5rem;
    font-size: clamp(1rem, 2vw, 1.5rem);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-weight: 600;
    transition: background 0.3s ease;
    text-decoration: none;
}

.heroButton:hover {
    background-color: var(--accent-color);
}

@media (max-width: 1024px) {
    .heroSection {
        gap: 1.5rem;
        padding: 1.5rem;
    }
}

@media (max-width: 768px) {
    .heroSection {
    height: 50vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

    .HeroTextDiv {
        align-items: center;
        padding: 0;
    }

    .description {
        margin-left: 0;
        text-align: center;
    }

    .heroButtonContainer {
        width: 100%;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    .heroButton {
        max-width: 180px;
        min-height: 30px;
        padding: 0.6rem 1rem;
        font-size: 1rem;
        gap: 8px;
    }
}
