.card {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--box-shadow-light);
  margin: 20px;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.leftBorder {
  width: 8px;
  background-color: var(--icon-color-2);
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.content {
  flex-grow: 1;
  padding-left: 20px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.icon {
  font-size: 24px;
  margin-right: 10px;
  color: var(--icon-color-2);
}

.departmentName {
  font-size: 22px;
  font-weight: bold;
  color: var(--text-primary);
  margin: 0;
}

.serviceType,
.location {
  font-size: 16px;
  color: var(--text-tertiary);
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.statusTags {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tag {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  color: var(--text-light);
}

.activeTag {
  background-color: var(--status-active);
}

.verifiedTag {
  background-color: var(--status-verified);
}

.tagIcon {
  margin-right: 5px;
}
