.summaryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  background-color: var(--background-color);
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px var(--box-shadow-light);
  margin-bottom: 2rem;
}

.summaryItem {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #495057;
}

.colorBox {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  margin-right: 0.5rem;
}

.resolved {
  background-color: var(--status-resolved);
}

.inProgress {
  background-color: var(--status-inprogress);
}

.Pending {
  background-color: var(--status-completed);
}
