.summaryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.summaryItem {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #495057;
}

.colorBox {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  margin-right: 0.5rem;
}

.resolved {
  background-color: #28a745; /* green */
}

.inProgress {
  background-color: #ffc107; /* orange/yellow */
}

.Pending {
  background-color: #17a2b8; /* blue */
}
